.about {
  @include adaptiv-value("padding-top", 44, 30, 1);
  padding-bottom: 37px;
  &__inner {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px;
  }

  &__list {
    flex: 1 1 30%;
    margin: 0 20px 20px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    @include adaptiv-value("margin-bottom", 20, 10, 1);
    max-width: 342px;
  }

  &__icons-box {
    margin-right: 10px;
    width: 33px;
    height: 33px;
  }

  &__icons {
    object-fit: cover;
  }

  &__descr {
    font-size: 16px;
    @extend %c-r;
  }
}
@media (max-width: 900px) {
  .about {
    &__inner {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 450px) {
  .about {
    &__inner {
      flex-direction: column;
    }
    &__item {
      flex: 1 1 100%;
      margin: 0 auto 10px;
    }
  }
}
