.table {
  display: block;
  overflow-x: scroll;
  @include adaptiv-value("padding-top", 66, 40, 1);
  @include adaptiv-value("padding-bottom", 37, 20, 1);
  font-size: 16px;
  line-height: 18px;
  @extend %r-r;

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $black;
    @include adaptiv-value("font-size", 30, 18, 1);
    @include adaptiv-value("line-height", 36, 25, 1);
    @include adaptiv-value("margin-bottom", 63, 30, 1);
  }

  &__img {
    margin-bottom: 26px;
    max-width: 111px;
    max-height: 145px;
    object-fit: cover;
  }

  &__column {
    max-width: 295px;
  }

  table {
    width: 100%;
  }

  td {
    height: 39px;
    text-align: center;
  }

  th {
    padding-left: 6px;
    height: 39px;
    text-align: left;
  }

  &__rows {
    max-width: 100px;
    text-align: center;
  }

  tr {
    &:nth-child(even) {
      background-color: #f0f6fc;
    }
  }
}
